* {
  box-sizing: border-box;
}

#alert {
  background-color: dodgerblue;
  border-radius: 10px;
  color: whitesmoke;
  display: none;  /* hide until an alert is generated */
  padding: 0.2em 1em;
  position: absolute;
  right: 1em;
  opacity: 1;
  transition: opacity 1s;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-size: 16pt;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

details > p {
  font-size: 12pt;
  line-height: 120%;
  margin-left: 2em;
  margin-top: 0;
}

details > summary {
  cursor: pointer;
  list-style: none;
}

summary:hover > .popup-controls {
  display: inline;
}

span.popup-controls {
  display: none;
}

details[open] span.popup-controls {
  display: inline;
}

form fieldset {
  border: 1px solid;
  border-radius: 5px;
}

form input, form submit {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16pt;
  padding: 2px 0.2em;
}

form input[type="checkbox"] {
  height: 16pt;
  width: 16pt;
}

form input[type="number"] {
  width: 5em;
}

form input[type="submit"] {
  float: right;
}

form input[type="url"] {
  width: 100%;
}

form ::placeholder {
  font-style: italic;
}

.grouping {
  background-color: whitesmoke;
  border-radius: 10px;
  margin-right: 1em;
  padding: 2px 5px;
}

.control-aside {
  cursor: pointer;
  float: right;
}

img {
  vertical-align: text-top;
}

/* Spread lines out to make touch screen tapping easier. */
main, nav {
  line-height: 200%;
}

nav a {
  color: black;
}

.nav-heading {
  font-family: monospace;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  margin-right: 0.5em;
}

/* Colapse menu labels in mobile portrait mode. */
nav .label {
  display: none;
}

textarea[readonly] {
  background-color: white;
  border: 1px solid black;
  color: dimgray;
}

/* Arrange navigation on the left side for wide screens. */
@media (min-aspect-ratio: 1/1) {
  nav {
    float: left;
  }

  nav a {
    display: block;
  }

  nav p {
    margin-top: 1em;
  }

  nav span {
    display: none;
  }

  main {
    float: left;
    margin-left: 5vw;
  }
}

/* Only show navigation labels on wide displays. */
@media (min-width: 960px) {
  nav span, nav .label {
    display: inline;
  }

  main {
    min-width: 640px;  /* Makes float:right look better */
  }

  br.optional {
    display: none;
  }
}

/* Everybody loves dark mode these days. */
@media (prefers-color-scheme: dark) {
  nav a {
    color: white;
  }

  body {
    background-color: indigo;
    color: white;
  }

  form input {
    background-color: darkslateblue;
    color: whitesmoke;
  }

  .grouping {
    background-color: darkslateblue;
  }

  img {
    filter: invert(100%);
  }

  textarea[readonly] {
    background-color: indigo;
    border: 1px solid white;
    color: lightgray;
  }  
}